<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="InjectAssembly" value="wojilu.Core, wojilu.Web.Controller" />
    </appSettings>

    <system.web>
		<httpRuntime maxRequestLength="800000" />
		<authentication mode="Forms">
			<forms name="wojiluASPXAUTH" loginUrl="/Main/Login.aspx" />
		</authentication>
		<compilation debug="true" />
		<customErrors mode="Off" />
		<globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="zh-cn" />
    </system.web>
    <system.webServer>
        <handlers>
            <add name="*_*" path="*" verb="*" type="wojilu.Web.Mvc.CoreHandler, wojilu" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.css,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.js,*.htm,*.html,*.xml,*.swf,*.zip,*.7z,*.rar,*.cur,*.flv_*" path="*.css,*.jpg,*.jpeg,*.gif,*.png,*.bmp,*.ico,*.js,*.htm,*.html,*.xml,*.swf,*.zip,*.7z,*.rar,*.cur,*.flv" verb="*" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="refresh.aspx_*" path="refresh.aspx" verb="*" type="wojilu.Web.Handler.RefreshServerHandler, wojilu.Core" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="robots.txt_*" path="robots.txt" verb="*" type="System.Web.StaticFileHandler" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="*.asp_*" path="*.asp" verb="*" type="wojilu.Web.Handler.PageNotFoundHandler, wojilu" preCondition="integratedMode,runtimeVersionv2.0" />
            <add name="CaptchaImage.ashx_*" path="CaptchaImage.ashx" verb="*" type="wojilu.Web.Handler.CaptchaImageHandler, wojilu" preCondition="integratedMode,runtimeVersionv2.0" />
        </handlers>
        <validation validateIntegratedModeConfiguration="false" />
    </system.webServer>

</configuration>
